.App {
  background-color: #F5F5F5;
  margin-left: 10%;
  margin-right: 12%

}

body {
  background-color: rgb(229, 223, 234);
}


/* UserPreferences*/

.user_preferences {
  text-align: right;
}

.user_preferences span{
  margin-left: 20px;
}

/* NavLinkBar*/

.navlink {
  display: flex;
  justify-content: space-between;
}

.navlink_rigth {
  display: flex;
  gap: 0 2rem;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  color: blue;
}







