.App {
  background-color: #F5F5F5;
}

body {
  background-color: #F5F5F5;
}

.navlink {
  display: flex;
  justify-content: space-between;
}

.navlink_rigth {
  display: flex;
  gap: 0 2rem;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  color: blue;
}







